@charset "UTF-8";

html{
    height: 100vh;
    background-color: #030c1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h1{
    color: rgb(235, 235, 235);
    text-align: center;
    font-weight: normal;
}

section{
    font-size: 1em;
    width: fit-content;
    margin: auto;

}

#sec1{
    color: rgb(231, 231, 231);
    background-color: #131822;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #313131;
    margin-bottom: 20px;
}

#sec2{
    margin-block: 20px;
    font-size: 1.5em;
    display: none;
    text-align: center;


}

input, select{
    width: 100px;
    height: 52px;
    font-size: 2.1em;
    display: block;
    text-align: center;

    border-radius: 7px;
    border: none;
    color: #0D1117;
    background-color: rgb(231, 231, 231);

    
}

input:hover, select:hover{
    transform: translate(-1px, -1px);
    transition: .1s;
}

label{
    width: fit-content;
    display: inline-block;
    text-align: center;
    margin-inline: 5px;
}

label > p{
    margin: 0px;
}


#label3 > p{
    font-size: .8em;
    margin-block: 2px;
} 

.botao{
    margin-inline: auto;
    margin-top: 20px;
    width: fit-content;
    padding: 10px;
    font-size: 1.5em;
    display: block;
    font-weight: 600;
    padding: 10px;
    color: #0D1117;
}

/*
#ival, #prctg, select{
    background-color: transparent;
    border: solid 1px white;
}
*/


a{
    padding: 10px;
    background-color: #f0f0f0;
    color: #030c1b;
    font-size: 2em;
    border-radius: 10px; 
    border: solid 3px rgb(0, 173, 9);
    text-decoration: none;
    
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

a:hover{
    background-color: #030c1b;
    color: white;
}