@charset "UTF-8";

html{
    height: 100vh;
    background-color: #030c1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: rgb(235, 235, 235);
    text-align: center;
    font-weight: normal;
}





a{
    padding: 10px;
    background-color: #f0f0f0;
    color: #030c1b;
    font-size: 2em;
    border-radius: 10px; 
    border: solid 3px rgb(0, 173, 9);
    text-decoration: none;
    
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

a:hover{
    background-color: #030c1b;
    color: white;
}